body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
}

* {
  box-sizing: border-box;
  text-align: center;
}

main {
  background-color: #ffffff;
}

h2 {
  color: #5b6774;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #34404f;
  margin: 0 0.5em;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  color: #34404f;
  margin: 0 0.5em;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  color: #34404f;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 0.8em;
  color: #000000;
  text-align: left;
}

a {
  text-decoration: none;
  color: #5b6774;
}

a :active {
  color: #000000;
}

.principal {
  background-color: #FFFFFF;
  border: 1px #000000 solid;
  margin: 10%;
  width: 70%;
  height: 90%;
  display: inline-block;
}
.principal__produtos {
  display: flex;
  justify-content: center;
  height: 25em;
  margin-bottom: 5em;
}
.principal__produtos-visitados-carrossel-corpo {
  width: 14em;
  border: 1px solid lightgrey;
  padding: 15px 10px 10px 10px;
  height: 22em;
}
.principal__produtos-visitados-carrossel-corpo:hover {
  background-image: linear-gradient(#f4f4f4, #ffffff);
  transform: scale(1.1);
}
.principal__produtos-visitados-carrossel-corpo:hover .principal__produtos-visitados-carrossel-corpo-btn {
  display: flex;
}
.principal__produtos-visitados-carrossel-corpo-imagem img {
  width: 6rem;
}
.principal__produtos-visitados-carrossel-corpo-preco {
  display: flex;
  align-items: baseline;
}
.principal__produtos-visitados-carrossel-corpo-pagamento {
  display: flex;
  align-items: baseline;
  margin: 1em auto;
}
.principal__produtos-visitados-carrossel-corpo-btn {
  background-color: #FFFFFF;
  color: #34404f;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.4em 1em;
  border: 0px;
  display: none;
}
.principal__produtos-visitados-carrossel-corpo-btn:hover {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.4em 1em;
  box-shadow: -0.5em 0px #fc6522;
}
.principal__produtos-visitados-carrossel-corpo-btn img {
  width: 1.5em;
}
.principal__produtos-interesses-carrossel {
  width: 100%;
  display: flex;
}
.principal__produtos-interesses-carrossel-corpo {
  width: 14em;
  border: 1px solid lightgrey;
  padding: 15px 10px 10px 10px;
  height: 22em;
}
.principal__produtos-interesses-carrossel-corpo:hover {
  background-image: linear-gradient(#f4f4f4, #ffffff);
  transform: scale(1.1);
}
.principal__produtos-interesses-carrossel-corpo:hover .principal__produtos-interesses-carrossel-corpo-btn {
  display: flex;
}
.principal__produtos-interesses-carrossel-corpo-imagem img {
  width: 6rem;
}
.principal__produtos-interesses-carrossel-corpo-preco {
  display: flex;
  align-items: baseline;
}
.principal__produtos-interesses-carrossel-corpo-pagamento {
  display: flex;
  align-items: baseline;
  margin: 1em auto;
}
.principal__produtos-interesses-carrossel-corpo-btn {
  background-color: #FFFFFF;
  color: #34404f;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.4em 1em;
  border: 0px;
  display: none;
}
.principal__produtos-interesses-carrossel-corpo-btn:hover {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.4em 1em;
  box-shadow: -0.5em 0px #fc6522;
}
.principal__produtos-interesses-carrossel-corpo-btn img {
  width: 1.5em;
}
.principal__produtos .controles {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.principal__produtos .btn {
  padding: 0.2em;
}

/*# sourceMappingURL=style.css.map */
